* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    perspective: 1000px;
}

.cube > div {
    height: 200px;
    width: 200px;
    background-color: rgb(136, 136, 136, 0.7);
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 80px;
    position: absolute;
    
}

.cube {
    transform: rotate3d(1, 1, 1, 0deg);
    /* transform-origin: 0 0 -100px; */
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
}

.left {
    transform: translate(-200px, 0) rotate3d(0, 1, 0, -90deg);
    transform-origin: right;
}

.right {
    transform: translate(200px, 0) rotate3d(0, 1, 0, 90deg);
    transform-origin: left;
}

.bottom {
    transform: translate(0, 200px) rotate3d(1, 0, 0, -90deg);
    transform-origin: top;
}

.top {
    transform: translate(0, -200px) rotate3d(1, 0, 0, 90deg);
    transform-origin: bottom;
}

.back {
    transform: translateZ(-200px);
}